{
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 70
      }
    },
    {
      "files": "templates/**",
      "options": {
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}
